# Ignorar Git
.git
.gitignore

# Ignorar Ambientes Virtuais Locais
venv/
.venv/
env/

# Ignorar Cache do Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignorar configurações locais do Streamlit e VSCode
.streamlit/secrets.toml
.vscode/